# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "43cf7f8681dbe81a1af612979e4049b6"
name = "Goossens Product Exporter"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = false

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
